body{
    background: #81c1d8;
    font: normal 16pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    min-width: 450px;
    height: 550px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.323);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
} 

.titulo{
    text-shadow: 3px 0 0 #0c6281, -3px 0 0 #0c6281, 0 3px 0 #0c6281, 0 -3px 0 #0c6281, 2px 2px #0c6281, -2px -2px 0 #0c6281, 2px -2px 0 #0c6281, -2px 2px 0 #0c6281;
}

div{
    text-align: center;
}

section p{
    padding: 2.5%;
}

#botao{
    font: normal 30px arial;
    color: #0c6281;
    border: 3px solid #0c6281;
    border-radius: 8pt;
    outline-style: none;
}
#botao:hover{
    border-color: #094a61;
    color: #094a61;
    background-color: rgba(112, 128, 144, 0.411);
}

.cor{
    color: #0c6281;
}

.ano{
    font: normal 19pt arial;
}

.idd{
    border: 3px solid #0c6281;
    font-size: 20px;
    border-radius: 7pt;
    outline-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100px;
    color: #0c8176;
}
#imagem{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.337);
    border-radius: 50%;
}