body{
    background: #995c63;
    font: normal 13pt arial;
    color: white;
    text-shadow: 2px 1px 3px rgb(0, 0, 0, 0.6);
}
header{
    color: white;
    text-align: center;
}
section{
    background: linear-gradient( to bottom right, rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.5) );;
    border-radius: 10px;
    padding: 15px;
    width: 505px;
    margin: auto;
    /*
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.323);
    */
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}