body{
    background: plum;
    font: normal 15pt arial;
    table-layout: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.323);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.cor{
    color: rgb(199, 104, 199);
}

#numero{
    outline-style: none;   
    color: rgb(199, 104, 199);
}

#tabela, td{
    border: 1px solid black;
    margin: 25px auto;
    border-collapse: collapse;
}

#botao{
    margin-top: 20px;
    width: 150px;
    background: rgb(199, 104, 199);
    border-radius: 5px;
    outline-style: none; 
    color: white;  
}

#botao:focus{
    background: rgb(136, 66, 136);
}

#tabuada{
    margin-top: 15px;
}

#numero{
    text-align: center;
}

.teste{
    border: 1px solid white;
    border-bottom: 1px solid black;
}
